proxyAddress = "::0"
proxyPort = 8123
# proxyOutgoingAddress = "134.157.168.1"
# allowedClients = 127.0.0.1, 134.157.168.57
proxyName = "fuckgfw@alauda"
cacheIsShared = false
# parentProxy = "squid.example.org:3128"
# socksParentProxy = "localhost:9050"
# socksProxyType = socks5
# scrubLogs = true
daemonise = true
pidFile = "/var/run/polipo.pid"
chunkHighMark = 50331648
objectHighMark = 16384
diskCacheRoot = ""
localDocumentRoot = ""
disableIndexing = true
disableServersList = true
dnsQueryIPv6 = no
# dnsQueryIPv6 = reluctantly
# dnsUseGethostbyname = yes
disableVia=false
# censoredHeaders = from, accept-language
# censorReferer = maybe | true
# pmmFirstSize = 16384
# pmmSize = 8192
# relaxTransparency = maybe
# relaxTransparency = yes
# proxyOffline = yes
# mindlesslyCacheVary = true
# alwaysAddNoTransform = true